{
  "semi": true,
  "trailing-comma": "es5",
  "single-quote": true,
  "print-width": 100,
  "tab-width": 2,
  "use-tabs": false,
  "arrow-parens": "always",
  "jsx-single-quote": false,
  "jsx-bracket-same-line": false
}
